/test
.vscode/settings.json
environment/FX_tradEnvs/FX_trading/envs/__pycache__/FX_trading_v1.cpython-38.pyc
environment/FX_tradEnvs/FX_trading/envs/__pycache__/FX_trading_v0.cpython-38.pyc
environment/FX_tradEnvs/FX_trading/envs/__pycache__/__init__.cpython-38.pyc
environment/FX_tradEnvs/FX_trading/__pycache__/__init__.cpython-38.pyc

test.zip
